[submodule "external/edk2/external/edk2"]
	path = external/edk2/external/edk2
	url = https://github.com/MatGai/Edk2Pkg
[submodule "external/edk2/Edk2Pkg"]
	path = external/edk2/Edk2Pkg
	url = https://github.com/MatGai/Edk2Pkg
[submodule "external/edk2"]
	path = external/edk2
	url = https://github.com/MatGai/Edk2Pkg
